{% extends 'questions/base.html' %}
{% load static %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center">
                <h1 class="mt-4">Категории тестов</h1>
                {% for category in questioncategory_list %}
                    <div class="row main p-1 border border-grey mt-1">
                        <div class="col-md-4">
                            <div class="text-center header-h2 all-width">
                                <h2 class="oranged">{{ category.name }}</h2>
                            </div>
                            <img class="img-fluid img-rounded"
                                 src="{{ category.image_url }}" alt=""/>
                        </div>
                        <div class="col-md-8 mt-3">
                            <div class="container-fluid pt-4 pb-3 text-wrap text-justify text-break text-adaptive">
                                {{ category.description }}
                            </div>
                            <div class="row justify-content-center">
                                <a class='btn btn-primary all-width'
                                   href='{% url 'questions:start_test' category.id %}'>Тестируем {{ category.name }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
        {% include 'questions/includes/footer.html' %}
    </div>
{% endblock %}