<footer class="bg-dark navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white font-small">
                Copyright &copy; Lalluviadel 2022
            </div>
            <div class="col-lg-6 text-lg-right text-white font-small">
                Сайт создан исключительно в личных целях для некоммерческого использования
            </div>
            <div class="col-lg-6 text-lg-left text-white font-small">
                Изображения взяты с бесплатных стоковых площадок или созданы владельцем сайта
            </div>
        </div>
    </div>
</footer>
