<div class="modal fade modal-adaptive" id="info-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="btn-orange">
                <h3 class="modal-title text-center mt-2 h1-title">Перед тем, как начать</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li class="text-modal">Вам будет предложен случайный набор из 20 вопросов по выбранной теме.</li>
                    <li class="text-modal">Если в выбранной категории/сложности менее 20 вопросов,
                        набор будет содержать все имеющиеся вопросы
                    </li>
                    <li class="text-modal">В любой момент вы можете закончить тестирование -
                        нажмите кнопку "Завершить" после ответа на вопрос
                    </li>
                    <li class="text-modal">К некоторым вопросам написаны мини-статьи.
                        Вы можете перейти к ним на странице ответа на вопрос и вернуться к тесту при помощи
                        кнопки "Назад" в меню
                    </li>
                </ul>
                {#                <hr>#}
                <div>
                    <input type="checkbox" id="no-info" name="no-info">
                    <label for="no-info">Больше не показывать</label>
                </div>
            </div>
            <div class="modal-footer staff" id="info-close">
                <button class='btn btn-primary all-width'>Закрыть</button>
            </div>
        </div>
    </div>
</div>