<div class="modal fade text-adaptive modal-adaptive" id="info-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="btn-orange">
                <h3 class="modal-title text-center mt-2 mb-2">Перед тем, как начать</h3>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div>
                        <ul>
                            <li>Вам будет предложен случайный набор из 20 вопросов по выбранной теме.</li>
                            <li>Если в выбранной категории/сложности менее 20 вопросов,
                                набор будет содержать все имеющиеся вопросы
                            </li>
                            <li>В любой момент вы можете закончить тестирование -
                                нажмите кнопку "Завершить" после ответа на вопрос
                            </li>
                            <li>К некоторым вопросам написаны мини-статьи.
                                Вы можете перейти к ним на странице ответа на вопрос и вернуться к тесту при помощи
                                кнопки "Назад" в меню
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div>
                    <input type="checkbox" id="no-info" name="no-info">
                    <label for="no-info">Больше не показывать</label>
                </div>
            </div>
            <div class="modal-footer staff" id="info-close">
                <button class='btn btn-primary all-width'>Закрыть</button>
            </div>
        </div>
    </div>
</div>