{% extends 'myadmin/base.html' %}
{% load static %}
{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center">
                <h1 class="mt-4">Пользователи</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="text-left">
                            <li>Для редактирования клик на никнейме</li>
                            <li>Для удаления (деактивации) - кнопка в графе Активен</li>
                            <li>Сделать персоналом сайта - кнопка в графе Персонал</li>
                        </ul>
                    </div>
                    <div id="give_me_a_crown">
                        <div id="update_users_catcher" class="card-body">

                            {% include 'myadmin/includes/table-users.html' %}

                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'myadmin:admins_user_create' %}">
                            <button class="btn btn-outline-dark btn-orange">Создать пользователя</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        {% include 'myadmin/includes/footer.html' %}
    </div>
{% endblock %}