<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Регистрация на сайте {{ my_site_name }}</title>
</head>
<body>
    <h3>Привет, {{ my_user }}!</h3>
    <div>Вы зарегистрировались на сайте {{ my_site_name }}</div>
    <div>Для того, чтобы войти в свой профиль, осталось только подтвердить свою регистрацию</div>
    <div>Кликните по данной ссылке, чтобы активировать профиль и войти на сайт:</div>
    <a href="{{ my_link }}">Активировать мой профиль</a>
</body>
</html>
