{% extends 'questions/base.html' %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <form action="{% url 'users:password_reset' %}" method="post">
                {% csrf_token %}
                <div class="staff">
                    <ul class="errorlist">
                        {% if messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                 style="margin-top: 50px;">
                                {% for message in messages %}
                                    <div{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message|escape }}</div>
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        {% if form.non_field_errors %}
                            <li>{{ form.non_field_errors }}</li>
                        {% endif %}
                        {% for field in form %}
                            {% if field.errors %}
                                <li>
                                    {{ field.label }}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="container-fluid text-center">
                    <h1 class="mt-4 h1-title">Восстановление доступа к аккаунту</h1>
                    <div class="row justify-content-center">
                        <div class="card-user shadow-lg border-0 rounded-lg mt-3 form-adaptive-width">
                            <div class="card-header-user header-h2">
                                Введите email, использованный при регистрации
                            </div>
                            <div class="card-body justify-content-center">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    <p>На вашу почту будет направлено письмо со ссылкой для восстановления пароля</p>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <input class="btn btn-dark" type="submit" value="Отправить">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        {% include 'questions/includes/footer.html' %}
    </div>
{% endblock %}
