{% extends 'questions/base.html' %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center">
                <h1 class="mt-4">Авторизация</h1>
                <div class="row justify-content-center">
                    <div class="card-user shadow-lg border-0 rounded-lg mt-3 w-50">
                        <div class="card-header-user header-h2">
                            Введите логин и пароль
                        </div>
                        <div class="card-body justify-content-center">
                            <form action="{% url 'users:login' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Имя пользователя</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Пароль</label>
                                    {{ form.password }}
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <a class="small" href="#">Забыли пароль?</a>
                                    <input class="btn btn-dark" type="submit" value="Авторизоваться">
                                </div>
                            </form>
                            <div class="list-group-horizontal card-footer text-center small">
                                {#                        <button class="btn btn-outline-info btn-lg" onclick="window.location.href=#}
                                {#'{% url 'social:begin' 'vk-oauth2' %}?next=/'">#}
                                {#                            Войти <i class="fab fa-vk"></i></button>#}
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small"><a href="{% url 'users:register' %}">Нужен аккаунт? Зарегистрируйся!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% include 'questions/includes/footer.html' %}
    </div>
{% endblock %}
