<div class="modal fade" id="user-action-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="btn-orange">
                <h3 class="modal-title text-center mt-2 mb-2">Спасибо за ваш вклад!</h3>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="text-center font-xl" id="user-activity-type"></div>
                    <div class="mt-4">Если этот контент полезен для нашего сайта, скоро он будет размещен.</div>
                    <p>Администрация сайта оставляет за собой право вносить необходимые правки.</p>
                </div>
            </div>
            <div class="modal-footer staff">
                Желаем вам успешного развития знаний!
            </div>
        </div>
    </div>
</div>
