<div class="modal fade" id="user-letter-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="btn-orange">
                <h3 class="modal-title text-center mt-2 mb-2">Спасибо!</h3>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="text-center font-xl" id="user-activity-type">Отправка письма</div>
                    <div class="text-center mt-4">Ваше письмо админу уже отправлено!</div>
                    <div class="text-center mt-4">Ожидайте ответа на вашу почту.</div>
                </div>
            </div>
            <div class="modal-footer staff">
                Желаем вам успешного развития знаний!
            </div>
        </div>
    </div>
</div>
