<div class="btn-orange">
    <h3 class="modal-title h1-title text-center mt-2 mb-2">Отображение информации отменено</h3>
</div>
<div class="modal-body text-adaptive">
    <div class="card-body">
        <div class="font-xl text-adaptive">
            <p>Информация о порядке тестирования больше не будет отображаться</p>
        </div>
    </div>
    <hr>
    <div>
        <p>Окно закроется автоматически через 3 секунды</p>
    </div>
</div>
<div class="modal-footer staff text-adaptive" id="info-close">
    Желаем успеха!
</div>
