<form id="profile_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.social_network %}
        <div class="row-cols-1 border border-grey p-2">Извините, при авторизации посредством соцсети вы не можете редактировать профиль.</div>
    {% endif %}
    <div class="form-row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="small mb-1" for="{{ form.first_name.id_for_label }}">Имя</label>
                {{ form.first_name }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                {{ form.last_name }}
            </div>
        </div>
    </div>
    <div class="form-row">
        {% if user.social_network %}
            <input type="button" class="btn mt-4 btn-primary btn-lg gradient btn-block"
                   onclick="window.location.href = '{% url 'users:profile' %}';"
                   value="Отмена"/>
        {% else %}
            <button class="btn mt-4 btn-primary btn-lg gradient btn-block" type="submit" id="profile_submit">
                Сохранить
            </button>
        {% endif %}
    </div>
</form>
