<form id="profile_form" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="small mb-1" for="{{ form.first_name.id_for_label }}">Имя</label>
                {{ form.first_name }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                {{ form.last_name }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <button class="btn mt-4 btn-primary gradient btn-block" type="submit" id="profile_submit">
            Сохранить
        </button>
    </div>
</form>
