<div class="row mt-2">
    <div class="col-5 m-2"><h5 class="text-adaptive">Имя:</h5></div>
    <div class="col-5 m-2"><h5 class="text-adaptive">{{ user.last_name }}</h5></div>
    <div class="col-5 m-2"><h5 class="text-adaptive">Фамилия:</h5></div>
    <div class="col-5 m-2"><h5 class="text-adaptive">{{ user.first_name }}</h5></div>
    <div class="col-5 m-2"><h5 class="text-adaptive">Email:</h5></div>
    <div class="col-5 m-2"><h5 class="text-adaptive">{{ user.email }}</h5></div>
</div>
<button class="btn mt-4 mb-3 btn-primary btn-lg gradient btn-block" id="profile_edit">
    Редактировать
</button>
