<a class="nav-link" href="{% url 'users:top_users' %}">
    <div class="sb-nav-link-icon">
        <i class="far fa-circle oranged"></i>
    </div>
    Топ-5 участников
</a>
<a class="nav-link hidden-adaptive" href="{% url 'users:user_post_create' %}">
    <div class="sb-nav-link-icon">
        <i class="far fa-circle oranged"></i>
    </div>
    Написать статью
</a>
<a class="nav-link hidden-adaptive" href="{% url 'users:user_question_create' %}">
    <div class="sb-nav-link-icon">
        <i class="far fa-circle oranged"></i>
    </div>
    Предложить вопрос
</a>
<a class="nav-link hidden-adaptive" href="{% url 'users:write_to_admin' %}">
    <div class="sb-nav-link-icon">
        <i class="far fa-circle oranged"></i>
    </div>
    Написать админу
</a>