{% extends 'questions/base.html' %}
{% load static %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center mb-1">
                <h1 class="mt-4">Все статьи</h1>
                <div class="text-justify mt-4">
                    {% for post in posts %}
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'posts:post' post.id %}">{{ post.title }}</a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </main>
    {% include 'questions/includes/footer.html' %}
    </div>
{% endblock %}
